<!DOCTYPE html>
<html>
    <head>
        <title>Plan treningowy</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
    </head>
    <body>
        <p>Utwórz tygodniowy cykl treningowy</p>
        <form action="" method="post">
            <label for="pon">Poniedziałek: </label> <br>
            <textarea cols="10" rows="10" name="pon" id="pon"></textarea> <br>
            <label for="wt">Wtorek: </label><br>
            <textarea name="wt" id="wt"></textarea><br>
            <label for="sr">Środa: </label><br>
            <textarea name="sr" id="sr"></textarea><br>
            <label for="czw">Czwartek: </label><br>
            <textarea name="czw" id="czw"></textarea><br>
            <label for="pt">Piątek: </label><br>
            <textarea name="pt" id="pt"></textarea><br>
            <label for="sob">Sobota: </label><br>
            <textarea name="sob" id="sob"></textarea><br>
            <label for="niedz">Niedziela: </label><br>
            <textarea name="niedz" id="niedz"></textarea>
        </form>
    </body>
</html>