<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <p>Rejestracja przebiegła pomyślnie</p><br><br>
        <a href="/login">Zaloguj się</a>
    </body>
</html>